:root {
  --cyan: #00fff8;
  --dark-blue-main: #0d192c;
  --dark-blue-card: #15263f;
  --dark-blue-line: #2e405a;
  --soft-blue: #8bacd9;
  --white: #ffffff;
}

body {
  background-color: var(--dark-blue-main);
  color: var(--soft-blue);
  font-size: 18px;
  font-weight: 300;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  background-color: var(--dark-blue-card);
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
  border-radius: 15px;
  position: relative;
  width: 327px;
  height: 543px;
  left: 24px;
  top: 62px;
}

.nft__header {
  color: var(--white);
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  margin-top: 24px;
  margin-left: 24px;
  position: relative;
}

.img-equilibrium {
  width: 278px;
  height: 278px;
  border-radius: 8px;
  position: relative;
  top: 24px;
  left: 24px;
}

.nft__description {
  color: var(--soft-blue);
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  margin-top: 12px;
  margin-left: 24px;
  text-align: left;
}

.data {
  display: flex;
  justify-content: space-between;
  width: 278px;
  height: 19px;
  margin-left: 24px;
  margin-top: 16px;
}

.data__eth {
  width: 88.48px;
  height: 19px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.count-eth {
  color: var(--cyan);
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
}

.img-ethereum {
  width: 11px;
  height: 18px;
  margin-top: 1px;
}

.data__days {
  width: 92.69px;
  height: 19px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.count-days {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
}

.img-clock {
  width: 16px;
  height: 16px;
  margin-top: 1.67px;
}

.credits {
  width: 219px;
  height: 33px;
  margin-left: 24px;
  margin-top: 33px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.img-avatar {
  width: 33px;
  height: 33px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}

.credits-creation {
  width: 170px;
  height: 19px;
}

.credits-name {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: var(--white);
}

.data::after {
  content: "";
  display: block;
  position: relative;
  width: 278px;
  height: 1px;
  margin-left: 24px;
  margin-top: 16px;
  background-color: var(--dark-blue-line);
}

@media (min-width: 351px) {
  .container {
    background-color: var(--dark-blue-card);
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
    border-radius: 15px;
    position: relative;
    width: 350px;
    height: 596px;
    left: 545px;
    top: 152px;
  }

  .nft__header {
    color: var(--white);
    font-weight: 600;
    font-size: 22px;
    line-height: 27.72px;
    margin-top: 24px;
    margin-left: 24px;
    position: relative;
  }

  .img-equilibrium {
    width: 302px;
    height: 302px;
    border-radius: 8px;
    position: relative;
    top: 24px;
    left: 24px;
  }

  .nft__description {
    color: var(--soft-blue);
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    margin-top: 12px;
    margin-left: 24px;
    text-align: left;
  }

  .data {
    display: flex;
    justify-content: space-between;
    width: 301px;
    height: 20px;
    margin-left: 24px;
    margin-top: 24px;
  }

  .data__eth {
    width: 93.48px;
    height: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .count-eth {
    color: var(--cyan);
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }

  .count-days {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    width: 73px;
    height: 20px;
  }

  .img-clock {
    width: 16px;
    height: 16px;
    margin-top: 2.67px;
    margin-right: 7.7px;
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0;
    transform: rotate(180deg);
  }

  .credits {
    width: 230px;
    height: 33px;
    margin-left: 24px;
    margin-top: 41px;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
}
